<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>循环v-fo的变化</title>
</head>
<body>
	<div id="box">
		<!-- <ul>
			<li v-for="(v,k) in arrs">{{k}}-{{v}}</li>
		</ul> -->
		<ul>
			<!-- <li track-by="$index" v-for="item in items">{{item}}</li> -->
			<li v-for="(v,k) in arrs2">
				{{k}},{{v}}
			</li>
		</ul>
	</div>
	<script src="js/vue.js"></script>
	<!-- <script src="js/vue1.0.js"></script> -->
	<script>
		var vm=new Vue({
			el:'#box',
			data:{
				arrs:['jack','tom','alice','mick'],
				items:['jack','jack','tom','tom'],
				arrs2:[
					{name:'zhangsan',age:22,sex:'M'},
					{name:'lisi',age:18,sex:'F'},
					{name:'wanger',age:18,sex:'M'},
				]
			}
		})
	</script>
</body>
</html>