<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1 class="text-center">用户管理</h1>
		<form>
			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-2 text-right">
					<label for="name">姓 名：</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="name" placeholder="请输入姓名" v-model="user.name">
				</div>
				
			</div><br><br><br>
			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-2 text-right">
					<label for="age">年 龄：</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="age" placeholder="请输入年龄" v-model="user.age">
				</div>
				
			</div><br><br>
			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-2 text-right">
					<label for="email">邮 箱：</label>
				</div>
				<div class="col-sm-6">
					<input type="email" class="form-control" id="email" placeholder="请输入邮箱" v-model="user.email">
				</div>
			</div><br><br><br>
			<div class="text-center">
				<input type="button" value="添加" @click="add()" class="btn btn-primary">
				<input type="reset" value="重置"  class="btn btn-primary">
			</div>
		</form><br><br>
		<table class="table table-bordered">
			<thead>
				<tr >
					<th class="text-center">序 号</th>
					<th class="text-center">姓 名</th>
					<th class="text-center">年 龄</th>
					<th class="text-center">邮 箱</th>
					<th class="text-center">操 作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item,index) in users">
					<td class="text-center">{{index+1}}</td>
					<td class="text-center">{{item.name}}</td>
					<td class="text-center">{{item.age}}</td>
					<td class="text-center">{{item.email}}</td>
					<td class="text-center">
						<input type="button" class="btn btn-danger" value="删除" data-target=".modal" data-toggle="modal" v-bind:click="nowIndex=index">
					</td>
				</tr>
				<tr v-show="users.legth==0">
					<td colspan="5" class="text-center text-muted">
						<p>暂无数据...</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 模态框 -->
	<div class="modal fade" role="modal" id="del">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title" v-show="nowIndex!=-2">确认要删除该用户吗？</h4>
					<!-- <h4 class="modal-title" v-show="nowIndex==-2">确认要删除所有用户吗？</h4> -->
				</div>
				<div class="modal-body text-center">
					<button class="btn btn-primary" data-dismiss="modal">取消</button>
					<button class="btn btn-primary" data-dismiss="modal" @click="delete()">确认</button>
				</div>

			</div>
		</div>
	</div>
	<script src="../bower_components/vue/dist/vue.js"></script>
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
		
		new Vue({
			el:'.container',
			data:{
				users:[
					{'name':'zhangsan','age':22,'email':'11363423@sina.com'},
					{'name':'alice','age':18,'email':'alice@qq.com'},
					{'name':'mick','age':24,'email':'mick@sina.com'},
				],
				user:{},
				nowIndex:-1
			},
			methods:{
				add(){
					this.users.push(this.user);
					console.log(this.users);
					this.user = {};
				},
				delete:function(){
					if(this.nowIndex==-2){ //删除所有
						this.users=[];
					}else{
						this.users.splice(this.nowIndex, 1); //从指定索引位置开始删除，删除一个
					}
				}
			}
		})
	</script>
</body>
</html>